<section>
  <h2>Create New Post</h2>

<form class="new-post-form">
<div class="mb-3">
  <label for="newPost" class="form-label">Post Title</label>
  <input type="post-title" class="form-control" id="newPost" placeholder="Post Title">
</div>
<div class="mb-3">
  <label for="postContent" class="form-label">Create your new post!</label>
  <textarea name="post-content" class="form-control" rows="3">
    {{!-- Post Content Here --}}
  </textarea>
</div>
    <button type="submit" class="btn btn-info">Post</button>
</form>

<hr>

<section>
  <h2>Your Posts</h2>
{{#if posts.length}}
  <ol class="list-group">
    {{#each posts as |post|}}
    <li class="list-group-item">
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
{{/if}}
</section>
<script src="../Javascript/add-post.js"></script>
