<h1 class="display-6 mt-3">New Users Sign Up Here</h1>
<form id="signup">
    <div class="mb-3 mt-3">
        <input type="username" class="form-control" id="exampleInputUsername1" placeholder="Username">
    </div>
    <div class="mb-3 mt-3">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Address">
    </div>
    <div class="mb-3 mt-3">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Signup</button>
</form>